<launch>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_control)/config/pid_config.yaml" command="load"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
  </include>

  <param name="robot_description" command="cat $(find robot)/urdf/fire.urdf" />

  <!-- Start joint state controller -->
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="manipulator">
    <param name="controller" value="joint_state_controller" />
    <param name="type" value="joint_state_controller/JointStateController" />
    <param name="publish_rate" value="50" />
  </node>

  <!-- Start your custom PID controllers -->
  
  <node name="left_wheel_effort_controller" pkg="robot_control" type="pid_controller_node" output="screen">
    <param name="joint" value="back_left_joint" />
    <param name="p_gain" value="0.1" />
    <param name="i_gain" value="0.01" />
    <param name="d_gain" value="0.001" />
  </node>

 <node name="right_wheel_effort_controller" pkg="robot_control" type="pid_controller_node" output="screen">
    <param name="joint" value="back_right_joint" />
    <param name="p_gain" value="0.2" />
    <param name="i_gain" value="0.02" />
    <param name="d_gain" value="0.002" />
  </node>

</launch>

