<launch>
  <!-- Launch RViz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot)/rviz/sensors.rviz" />

  <!-- Load URDF -->
  <param name="robot_description" command="$(find robot)/urdf/sensors.urdf" />

  <!-- Spawn Robot Model -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Wait for some time to allow RViz to start -->
  <rosparam command="load" file="$(find robot)/config/wait_time.yaml" />

</launch>
