<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fir_base">
  <xacro:include filename="$(find fir_description)/urdf/fir_common.xacro" />
  <xacro:include filename="$(find fir_description)/urdf/include/common_macros.urdf.xacro" />
  <xacro:include filename="$(find fir_description)/urdf/include/common_sensors.xacro" />
  <xacro:include filename="$(find fir_description)/urdf/include/robot.gazebo.xacro" />

  <xacro:macro name="fir_robot">
    <link name="base_link">
      <!-- Inertial, Visual, Collision elements for base_link -->
      <!-- ... -->

    </link>

    <link name="back_left_link">
      <!-- Inertial, Visual, Collision elements for back_left_link -->
      <!-- ... -->
    </link>

    <joint name="back_left_joint" type="continuous">
      <!-- Origin, Parent, Child, Axis, Limit elements for back_left_joint -->
      <!-- ... -->
    </joint>

    <link name="back_right_link">
      <!-- Inertial, Visual, Collision elements for back_right_link -->
      <!-- ... -->
    </link>

    <joint name="back_right_joint" type="continuous">
      <!-- Origin, Parent, Child, Axis, Limit elements for back_right_joint -->
      <!-- ... -->
    </joint>

    <link name="kinect_link">
      <!-- Inertial, Visual, Collision elements for kinect_link -->
      <!-- ... -->
    </link>

    <joint name="kinect_joint" type="fixed">
      <!-- Origin, Parent, Child, Axis, Limit elements for kinect_joint -->
      <!-- ... -->
    </joint>

    <link name="front_left">
      <!-- Inertial, Visual, Collision elements for front_left -->
      <!-- ... -->
    </link>

    <joint name="front_left_joint" type="continuous">
      <!-- Origin, Parent, Child, Axis, Limit elements for front_left_joint -->
      <!-- ... -->
    </joint>

    <link name="front_right">
      <!-- Inertial, Visual, Collision elements for front_right -->
      <!-- ... -->
    </link>

    <joint name="front_right_joint" type="continuous">
      <!-- Origin, Parent, Child, Axis, Limit elements for front_right_joint -->
      <!-- ... -->
    </joint>
  </xacro:macro>

  <xacro:fir_robot />
</robot>


